<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039179611103-uoeogcech3c6h51gm58inedembthsqis.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039179611103-uoeogcech3c6h51gm58inedembthsqis</string>
	<key>API_KEY</key>
	<string>AIzaSyCqUlhqL1sp3xsplFjoyTqydzoO5VMAh5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1039179611103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pruebaHumberto</string>
	<key>PROJECT_ID</key>
	<string>ingreso1-7fb4e</string>
	<key>STORAGE_BUCKET</key>
	<string>ingreso1-7fb4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039179611103:ios:00cb8c5b7d2d92243ce26a</string>
</dict>
</plist>